<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" type="text/css" href="/css/mockup.css" />

    <link
    href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans&display=swap"
    rel="stylesheet"
  />

    <title>Lyster item</title>
  </head>
  <body>
    <div class="container-header">
            <a href="#">
                    <img
                      src="https://icon-library.net/images/list-view-icon/list-view-icon-13.jpg"
                      alt="lyster-logo"
                      width="50px"
                    />
                  </a>
      <h2><a href="#" class="logo">lyster</a></h2>
    </div>
    <div class="container-listing">
      <h3 class="item-heading"><%= userInputName %></a></h3>
      <p class="item-price"><%= userInputPrice %></a></p>
      <p class="item-desciption"><%= userInputDescription %>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, minima! Cum rem debitis eaque porro aliquid at, reprehenderit perspiciatis deserunt repellat earum hic vitae tempore modi alias amet, impedit minus?
      </p>
    </div>

    <script src="/main.js"></script>
  </body>
</html>
